@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme inline {
  --color-uane-background: var(--uane-background);
  --color-uane-secondary: var(--uane-secondary-background);
  --color-uane-text: var(--uane-text);
  --section-default-width: var(--section-width);
  --font-sans: var(--font-text);
  --color-uane-blue: var(--uane-blue-background);

}

:root {
  --uane-background: #f3f3f3;
  --uane-secondary-background: #1F6482;
  --uane-text: #ffffff;
  --section-width: 1440px;
  --font-text: "Noto Sans", sans-serif;
  --uane-blue-background: #17254D;
}


/* Esconde a barra de rolagem para navegadores baseados em WebKit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Esconde a barra de rolagem para IE, Edge e Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}